[사장님이 설정한 매장 분위기]
{{ cafe_policy }}

[신청곡 메타데이터]
플랫폼: {{ platform }}
제목: {{ title }}
아티스트/채널: {{ channel_title }}
길이: {{ duration }}

판단 기준:
- 매장 분위기와 맞으면 accept.
- 매장 분위기를 해치거나, 사장님이 피하라고 한 특징과 맞으면 reject.
- 정보가 부족하지만 위험이 커 보이면 reject.
- reason은 사장님이 이해할 수 있게 한국어 한 문장으로 작성.